<% provide(:title, "Home Page") %>
<div class="row">
  <p>There are <%= @photos.count %> photos.</p>
  <% @photos.each do |photo| %>
    <%= link_to image_tag(photo.photo_file.thumb.url), photo %>
  <% end %>
</div>
